html,
body {
  height: 100%;
  position: relative;
}

body {
  font-family: "Oswald", sans-serif;
  position: relative;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

.header {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.navbar {
  background: rgb(159, 189, 201);
}

.nav-item {
  margin-right: 20px;
}

.nav-link,
.navbar-brand {
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.nav-link,
.navbar-brand a:hover {
  text-decoration: none;
  color: rgb(60, 127, 153);
}

.navbar-brand__logo {
  width: 70px;
  margin-left: 20px;
}

.nav-link {
  margin-right: 1em !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #ffffff !important;
}

.feedback {
  margin-right: 100px;
}

.contacts {
  margin-left: 40px;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.contacts-number {
  color: #ffffff;
  margin: 19px 0;
}

.contacts:hover {
  color: rgb(60, 127, 153);
}

#exit {
  display: none;
}

@media (max-width: 991px) {
  .feedback {
    display: none;
  }
  .navbar-collapse {
    display: flex;
    flex-basis: 0;
  }
  .navbar-nav {
    flex-direction: row;
  }
}
@media (max-width: 471px) {
  .feedback {
    display: none;
  }
  .navbar-collapse {
    display: flex;
    flex-basis: 0;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }
}
.visits {
  background-image: url("/img/header-bg.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 3rem 0rem;
  position: relative;
  height: auto;
}

.visit_card {
  margin-bottom: 30px;
}

.container {
  position: relative;
  height: 100%;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.79);
}

.description,
.advantage {
  top: 30%;
  margin: auto;
}

.description h1 {
  color: rgb(60, 127, 153);
}

.advantage p {
  color: #666;
  width: 50%;
  line-height: 1.5;
}

.collapse button {
  background-color: rgb(60, 127, 153);
  color: #ffffff;
}

.text-center .p-3 {
  background-color: rgb(60, 127, 153);
}

.loader {
  display: none;
  margin-left: 45%;
  margin-top: 10%;
}

@media (max-width: 771px) {
  .visits {
    height: auto;
  }
}
@media (max-width: 471px) {
  .visits {
    padding-top: 5rem;
  }
}
.container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.close {
  width: 30px;
}

.modal-error {
  display: none;
}

#error-modal {
  display: none;
  margin: 1rem auto 0;
  width: 280px;
}

#visit-open {
  display: none;
}

.close-visit {
  width: 30px;
}

.btn-color {
  background-color: rgb(60, 127, 153);
  color: #ffffff;
}

.visit-modal-error {
  display: none;
}

.error {
  display: none;
}

#saveChanges-edit {
  display: none;
}

footer {
  height: max-content;
  flex: 1 1 auto;
}

.icon-del,
.icon-edit {
  position: absolute;
  right: 5px;
  top: 3px;
  cursor: pointer;
}

.visit_card {
  margin-bottom: 2rem;
}

.card-body {
  position: relative;
  box-sizing: border-box;
}

.icon-edit {
  right: 35px;
}

.card-title {
  padding-top: 20px;
}

.form-checkbox {
  position: absolute;
  left: 6px;
  top: 6px;
  padding-left: 35px;
  padding-top: 4px;
  font-size: 14px;
  color: #434343;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #44523d;
}

.form-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.form-checkbox .checkmark:after {
  left: 6px;
  top: 0px;
  width: 6px;
  height: 14px;
  border: solid rgb(60, 127, 153);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

@media (max-width: 789px) {
  .col-sm-3 {
    width: 50%;
  }
}
@media (max-width: 368px) {
  .col-sm-3 {
    width: 100%;
  }
}
.input-group {
  padding-bottom: 2rem;
}
.input-group .form-control {
  width: 200px;
}
.input-group .form-select {
  width: 200px;
}

.btn-search,
.btn-reset {
  width: 100px;
  background-color: rgb(60, 127, 153);
  color: #ffffff;
  border-radius: 3px !important;
  margin-right: 1rem;
}

#error-modal-filter {
  width: 200px;
  display: none;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .btn-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .form-footer-btn {
    margin: 1rem auto;
  }
}
@media (max-width: 789px) {
  .input-group {
    display: block;
  }
  .btn-group {
    flex-direction: column;
    justify-content: flex-start;
  }
  .form-footer-btn {
    margin: 1rem;
  }
}