.input-group {
  padding-bottom: 2rem;

  .form-control {
    width: 200px;
  }
  .form-select {
    width: 200px;
  }
}

.btn-search,
.btn-reset {
  width: 100px;
  background-color: $-accent-color;
  color: $-main-color;
  border-radius: 3px !important;
  margin-right: 1rem;
}
#error-modal-filter {
  width: 200px;
  display: none;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .btn-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .form-footer-btn {
    margin: 1rem auto;
  }
}
@media (max-width: 789px) {
  .input-group {
    display: block;
  }
  .btn-group {
    flex-direction: column;
    justify-content: flex-start;
  }
  .form-footer-btn {
    margin: 1rem;
  }
}
