#visit-open {
  display: none;
}

.close-visit {
  width: 30px;
}
.btn-color {
  background-color: $-accent-color;
  color: $-main-color;
}
.visit-modal-error {
  display: none;
}
.error {
  display: none;
}
#saveChanges-edit {
  display: none;
}
